In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Cinemas_for_geojson.xlsx')
df.head()

       Cinema  Run Seats   Latitude  Longitude
0    Колизей   1.0  1000  55.761781  37.645941
1  Метрополь   1.0   680  55.758448  37.621669
2     Москва   1.0   747  55.769494  37.593533
3    Ударник   1.0  1587  55.744450  37.613072
4   Авангард   1.0   489  55.731779  37.611473

In [4]:
len(df['Cinema'].unique())

79

In [5]:
df = pd.read_csv('cultural.csv')

In [6]:
df.head()

             Latitude          Longitude marker-color marker-size
0  55.757283173229865  37.61874318122864      #0042aa      medium
1           55.499189           37.76272      #0042aa      medium
2           55.729747          37.639464      #0042aa      medium
3           55.747343          37.602921      #0042aa      medium
4           56.326468          43.987875      #0042aa      medium

In [7]:
df.dtypes

Latitude        object
Longitude       object
marker-color    object
marker-size     object
dtype: object

In [8]:
df['Latitude'].astype(float)

0     55.757283
1     55.499189
2     55.729747
3     55.747343
4     56.326468
5     55.759355
6     55.750385
7     55.765410
8     55.755090
9     55.752490
10    55.750043
11    55.726321
12    55.757274
13    55.784341
14    55.797392
15    55.738780
16    55.739721
17    55.741329
18    55.747305
19    55.753848
20    55.752500
21    55.714709
22    55.752022
23    55.774953
24    55.824057
25    55.749525
26    55.735018
27    55.655845
28    54.748056
29    55.733878
30    55.776736
31    55.776736
32    55.742352
33    55.727876
34    55.774416
Name: Latitude, dtype: float64

In [9]:
df['Latitude'] = df['Latitude'].astype(float)
df['Longitude'] = df['Longitude'].astype(float)

In [10]:
df.dtypes

Latitude        float64
Longitude       float64
marker-color     object
marker-size      object
dtype: object

In [12]:
df.to_csv('cultural_numbers.csv', index=False)

In [ ]:
|